<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="stats">
        <%= render "shared/stats" %>
      </section>
      <hr>
      <div>
        <%= render "shared/admin_manager" if current_user.admin? %>
      </div>
    </aside>
    <div class="center col-md-8">
      <div>
        <%= link_to words_path, class: "btn btn-primary btn-lg" do %>
          <%= t :word %>
        <% end %>
        <%= link_to categories_path, class: "btn btn-primary btn-lg" do %>
          <%= t :lesson %>
        <% end %>
      </div>
      <div>
        <h3><%= t :activities %></h3>
        <% if @activity.any? %>
          <table class="table table-hover">
            <%= render @activity %>
          </table>
        <% end %>
        <%= will_paginate @activity %>
      </div>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t :wellcome%></h1>
    <h2>This is the home page for the
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        sample application.
    </h2>
  </div>
<% end %>
