<% provide :title, t(:edit_word) %>
<h1><%= t :edit_word %></h1>
<%= form_for [:admin, @word] do |f| %>
  <%= render "shared/error_messages" , object: f.object %>

  <%= f.label :content %>
  <%= f.text_field :content, class: "form-control" %>

  <%= f.label :answers %>
  <%= f.fields_for :answers do |answer_form| %>
    <% if answer_form.object._destroy == true %>
      <div class="hide">
    <% else %>
      <div>
    <% end %>
        <%= render "answer_fields", f: answer_form %>
      </div>
  <% end %>
  <p><%= link_to_add_fields t(:add_a_task), f, :answers %></p>

  <%= f.submit t(:update_word), class: "btn btn-primary" %>
<% end %>
