<h1><%= t :lesson %></h1>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render "shared/user_info" %>
    </section>
  </aside>
  <div class = "col-md-6">
    <p>
      <b><%= t :category %>:</b>
      <%= link_to @lesson.category.name, @lesson.category %>
    </p>
    <p>
      <b><%= t :total_word %>:</b>
      <%= @lesson.results.size %> <%= t :words %>
    </p>
    <%= form_for @lesson do |f| %>
      <%= f.hidden_field :learned, value: true %>
      <%= f.fields_for :results do |result| %>
        <%= render "question_form", f: result %>
      <% end %>
      <%= f.submit t(:submit), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
