<% provide :title, t(:all_categories) %>
<h1><%= t :all_categories %></h1>
<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Name" %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<h4>Advanced Search</h4>
<%= search_form_for @search do |f| %>
  <div class="large-5 small-4 columns">
    <%= f.label :name_cont, "Name" %>
    <%= f.text_field :name_cont, class: "radius", placeholder: "name" %>
  </div>
  <h6 class="large-2 small-4 columns center"><span>And</span></h6>
  <div class="large-5 small-4 columns">
    <%= f.label :id_gteq, class: "movie-label" %>
    <%= f.text_field :id_gteq, class: "radius", placeholder: "Minumum id" %>
    <%= f.label :id_lteq, class: "movie-label" %>
    <%= f.text_field :id_lteq, class: "radius", placeholder: "Maximum id" %>
  </div>
  <div class="large-5 small-4 columns">
    <%= f.label :created_at_gteq, class: "movie-label" %>
    <%= f.date_field :created_at_gteq, class: "radius", placeholder: "Minumum id" %>
    <%= f.label :created_at_lteq, class: "movie-label" %>
    <%= f.date_field :created_at_lteq, class: "radius", placeholder: "Maximum id" %>
  </div>
  <%= f.label :words_content_cont %>
  <%= f.search_field :words_content_cont %>
  <%= f.check_box :lessons_learned_true %>
  <%= f.label :lessons_learned_true %>
  <div class="column">
    <%= f.submit "Search", class: " radius button" %>
  </div>
<% end %>

<tr>
  <th><%= sort_link(@search, :name, "Name") %></th>
  <th><%= sort_link(@search, :email, "Email") %></th>
  <th><%= sort_link(@search, :created_at, "Day") %></th>
</tr>
<%= will_paginate %>
  <ul class="categories">
    <%= render @categories %>
  </ul>
<%= will_paginate %>
