<% provide :title, t(:all_user) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render "shared/user_info" %>
    </section>
    <hr>
    <div>
      <%= render "shared/admin_manager" if current_user.admin? %>
    </div>
  </aside>
  <div class="col-md-8">
    <h1><%= t :all_user %></h1>
    <%= will_paginate %>
    <ul class="users">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  </div>
</div>
