<tr>
  <td>
    <%= gravatar_for find_user activity.user %>
  </td>
  <td>
    <%= render "shared/user_activity", activity: activity %>
    <% if activity.follow? %>
      <%= t "activity.follow" %>
      <%= render "shared/object_activity", activity: activity %>
    <% elsif activity.unfollow? %>
      <%= t "activity.unfollow" %>
      <%= render "shared/object_activity", activity: activity %>
    <% elsif activity.learned_lesson? %>
      <%= t :learned_lesson_activities,
        words_number: (find_lesson activity.object_id).words.size %>
      <%= link_to find_lesson(activity.object_id).category.name,
        find_lesson(activity.object_id).category %>
    <% end %>
  </td>
  <td>
    <%= time_ago_in_words activity.created_at %>
    <%= t :ago %>
  </td>
</tr>
